/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Universal Styling */

body
{
    background-color: #121212;
    color: white;
}

table, th, td
{
    width: 70%;
    border-collapse: collapse;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th
{
    height: 50px;
}

tr:nth-child(even)
{
    background-color: #303030;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}