{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div style="overflow-x: auto;">
    <table align="center">
        <thead>
            <tr>
                <th class="left heading">Symbol</th>
                <th class="left heading">Shares</th>
                <th class="left heading">Price</th>
                <th class="left heading">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <td class="left">{{ row. }}</td>
            {% endfor %}
        </tbody>
    </table>
</div>



{{transactions}}
{% endblock %}