{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}



{% block main %}
<p>Current Transaction list</p>
<p>{{ transactions }}</p>

<table align="center">
    <thead>
        <tr>
            <th colspan = "2">{{ name[0].username }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in stocks %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.cost }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>You have {{ cash[0].cash | usd }} available</p>

{% endblock %}