{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}



{% block main %}

<table align="center">
    <thead>
        <tr>
            <th class="left heading">Symbol</th>
            <th class="left heading">Name</th>
            <th class="left heading">Shares</th>
            <th class="right heading">Price</th>
            <th class="right heading">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in stocks %}
            <tr>
                <td class="left">{{ row.symbol }}</td>
                <td class="left">{{ lookup(row.symbol)["name"] }}</td>
                <td class="right">{{ row.shares }}</td>
                <td class="right">{{ lookup(row.symbol)["price"] | usd }}</td>
                <td class="right">{{ (lookup(row.symbol)["price"] * row.shares) | usd }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="right heading">Cash</td>
            <td class="right">{{ cash[0].cash | usd }}</td>
        </tr>
        <tr id="last">
            <td></td>
            <td></td>
            <td></td>
            <td class="right heading">TOTAL</td>
            <td class="right">{{ (grand_total + cash[0].cash) | usd }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}